.search-result {
  background-color: aliceblue;
  padding: 10px 20px;
}

.search-result:hover {
  background-color: #efefef;
}

.results-list {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  /* box-shadow: 0px 0px 8px #ddd; */
  border-radius: 10px;
  margin-top: 1rem;
  /* If max height is surpassed then a
  scroll bar appears */
  max-height: 300px;
  overflow-y: scroll;
}
